ul.menu1 > li > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

ul.menu1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: -150px;
    justify-content: center;
}

ul.menu1 > li{
    position: relative;
   transform: rotate(-45deg);
   margin-right: -141px;
}

ul.menu1 > li > a{
    background-color: #086aa9;
    padding: 0 20px;
    list-style-type: none;
    height: 70px;
    display: flex;
    align-items: center;
    line-height: 22px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

ul.menu1 > li > a:hover{
    background-color: #003c84;
}

ul.menu1 > li:not(:last-child) > a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    background: #c9e8f8;
    width: 1px;
    height: 100%;
}

ul.menu1 > li > ul.menu2{
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #003c84;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    display: none;
}

ul.menu2 > li{
    padding: 10px;
}

ul.menu2 > li > a:hover{
    background: aqua;
}

ul.menu2 > li > a{
    color: white;
    list-style-type: none;
    display: block;
    padding: 10px;
    text-decoration: none;
}

ul.menu1 li:hover > ul.menu2{
    display: block;
}