.section-label{
    background-color: #4b2d7f;
    padding-top: 112px;
    padding-bottom: 60px;
    .label-item{
        height: 82px;
        line-height: 82px;
        margin-bottom: 55px;
        display: flex;
        justify-content: center;
    }
    .label-item-2{
        padding-top: 25px;
    }
}