.section-5{
    .section-5-video{
        @media (max-width: 1199px) {
            text-align: center;
            margin-left: 0;
        }
    
        @media (max-width: 767px) {
            width: 320px;
            margin: 0 auto;
                img{
                    width: 100%;
                }
        }
    }
}
