html{
    font-size: 14px;
    font-style: normal;
}

h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 24px;
    font-style: oblique;
    text-align: center;
}

.green{
    color: green;
}

.blue{
    color: rgb(0, 0, 255);
}

strong{
    font-size: 24px;
}

.menu{
    text-align: left;
}

em{
    font-weight: bold;
}

.yellow{
    color: rgb(252, 162, 46);
}

.turquoise {
    color: rgb(107, 216, 205);
}

.red{
    color: rgb(216, 25, 25);
}