@font-face{
    font-family: 'Poppins SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: 'Poppins Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

.section-1{
    background-image: url(../img/Layer-14.png);
}

body{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-1-img img{
    width: 100%;
}


.logo span{
        font-size: 42px;
        font-family: "Montserrat Regular";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.04;
        text-align: left;
        margin-left: 10px;
}

.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.header-menu span{
        font-size: 14px;
        font-family: "Montserrat Regular";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.04;
        text-align: left;
}

.header-menu a{
    text-decoration: none;
}

.section-1-content{
    padding-left: 200px;
    padding-right: 200px;
}

.section-1-content span{
        font-size: 32px;
        font-family: "Palatino Linotype";
        color: rgb(255, 255, 255);
        font-style: italic;
        line-height: 1.04;
        text-align: left; 
        margin-top: 130px;   
        margin-bottom: 38px;
}

.section-1-content h1{
        font-size: 49px;
        font-family: "Montserrat SemiBold", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.04;
        text-align: left; 
        margin-bottom: 38px;  
}

.section-1-img{
    margin-left: -220px;
    margin-top: 65px;
}

.section-1-text{
        font-size: 17px;
        font-family: "Montserrat Regular";
        color: rgb(255, 255, 255);
        line-height: 1.404;
        text-align: left;    
}

.section-1-action{
    margin-top: 65px;
}

.section-1-action .btn{
        font-size: 15px;
        font-family: "Montserrat SemiBold", sans-serif;
        color: rgb(255, 255, 255);
       padding: 20px 35px;
        text-transform: uppercase;
        line-height: 0.851;
        text-align: center;
        background-color: rgb(244, 34, 103);
        box-shadow: 1.169px 3.825px 16px 0px rgba(1, 2, 2, 0.35); 
        border-radius: 50px; 
}

.btn-1{
    margin-left: 15px;
}

.section-1-action .btn-2{
        background-color: rgb(95, 63, 184);
        box-shadow: 1.169px 3.825px 16px 0px rgba(1, 2, 2, 0.35);
}

.section-1-action .btn:hover{
    opacity: 0.704;
}