.section-2{
    background: url(../img/world-map.png) no-repeat;
    background-size: cover;
}

.section-2{
    .section-2-text{
        .section-2-text-p{
            margin-top: 105px;
                font-size: 33px;
                font-family: "Palatino Linotype";
                color: rgb(72, 72, 72);
                font-style: italic;
                line-height: 1.04;   
                @media (max-width: 1199px) {
                    text-align: center;
                }
                @media (max-width: 576px) {
                    font-size: 32px;
                }  
        }
        h2{
            font-size: 51px;
            font-family: 'Montserrat', sans-serif;
            color: rgb(72, 72, 72);
             font-weight: 600; 
             margin-top: 15px;
             margin-bottom: 22px;
             @media (max-width: 1199px) {
                text-align: center;
            }
            @media (max-width: 576px) {
                font-size: 43px;
            }
        }

        .mb-4{
            @media (max-width: 1199px) {
                justify-content: center;
            }
            @media (max-width: 767px) {
                width: 370px;
                margin: 0 auto;
            }
        }
        
        .nav-pills{
            
            .active{
                background-color: rgb(244, 34, 103);
                 box-shadow: 1.169px 3.825px 16px 0px rgba(1, 2, 2, 0.35);  
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                border-radius: 50px;
                padding: 10px 25px;
                
                box-sizing: border-box;
                color: $white;
            }
            .nav-item{
                @media (max-width: 1199px) {
                    justify-content: center;
                }
                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
                .nav-link{
                    font-size: 13px;
                    font-family: "Montserrat",sans-serif;
                    color: rgb(72, 72, 72);
                    font-weight: bold;
                    text-transform: uppercase; 
                    box-sizing: border-box;
                    margin: 0 8px;
                    outline: none;
                    &.active{
                        color: $white;
                    }
                }
                                     
            }
        }
        .tab-content{
            .tab-pane{
                
                    font-size: 15px;
                    font-family: "Montserrat", sans-serif;
                    color: rgb(29, 29, 29);
                    line-height: 1.786;
                    margin-top: 27px;
                   height: 104px;
                   @media (max-width: 1199px) {
                    text-align: center;
                }
            }
        }
        .section-2-text-action{
            @media (max-width: 1199px) {
                text-align: center;
            }
            .btn{ 
                    font-size: 15px;
                    box-shadow: 0 10px 0 #ff5990;
                    border-radius: 10px;
                    padding: 10px 25px;
                    background-color: #f42267;
                    font-weight: 600;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 60px; 
                    &:hover{
                        opacity: 70%;
                    }
            }
        }
    }
}

 